/*div dell'immagine*/
#logo {
    margin-top: 10%px;
    margin-bottom: 50%px;
 }

/*immagine triplan in alto*/
#logo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* div del titolo*/
#titolo {
    font-family: 'Alice', serif;
    font-size: 250%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: black solid 3px;
    margin-bottom: %;
    width: 30%;
    

}


/*testo bacheca*/
#testo {
    text-align: center;
}


